<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ numero | number }}</h1>
  <h1>{{ obj | json }}</h1>

  <p-button
    label="Cambiar Nombre"
    (click)="mostrarNombre()"
    severity="help"
    icon="pi pi-bell"
    iconPos="right"
  >
  </p-button>
  <p-card
    [header]="nombre | titlecase"
    class="m-0"
    subheader="Esto es un subheader"
  >
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae praesentium
    minima suscipit, consequuntur repellat earum velit atque dolorum voluptates,
    laborum modi a animi asperiores perferendis explicabo porro eum alias.
    Ipsum?
  </p-card>
</div>
