/* @import "primeicons/primeicons.css"; */

html,
body {
  margin: 10px;
  background-color: var(--surface-b);
  font-family: var(--font-family);
}

.text-layout {
  color: var(--text-color);
}

.reversed-button .p-button-label {
  order: 1;
}
.reversed-button .pi {
  order: 2;
}
